.main{
    display: flex;
    flex-direction: column;
    background-color: #080b14;
    color: #F9FAFB;
    font-weight: 600;
    align-items: center;
    text-align: center;
   
  }
.Cards{
    display: flex;
    /* margin: 0 10px 0 10px; */
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    
}
.filterHolder{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
.filters{
    display: flex;
}
.navigation{
    padding: 10px 40px 0 40px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navgroups{
    display: flex;
}
.nav_button{
    padding: 10px 20px;
    color: #F9FAFB;
    font-weight: 600;
}
.nav_button:focus,
.nav_button:active{
    outline: none;
}
.nav_active{
    background-color: #ffc62a;
    color: #01264B;
}
.nav_unactive{
    border: 1px solid #ffc62a;
    border-bottom: 0;
}