.card{
    display: inline-flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 10px;
    height: 320px;
    color: black;
    overflow: hidden;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    isolation: isolate;
    position: relative;
}
.attack{
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 10px;
    font-weight: 600;
}
.grow:hover{
    --translate-x: 0;
    --translate-y: 0;
    --rotate: 0;
    --skew-x: 0;
    --skew-y: 0;
    --scale-x: 1.04;
    --scale-y: 1.04;
    transform: translateX(var(--translate-x)) translateY(var(--translate-y)) rotate(var(--rotate)) skewX(var(--skew-x)) skewY(var(--skew-y)) scaleX(var(--scale-x)) scaleY(var(--scale-y));
    /* --tw-scale-x: 1.1;
    --tw-scale-y: 1.1; */
  }
.imageContainer{
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.name{
    display: inline-flex;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1.2rem;
    font-weight: 600;
}
.pillsHolder{
    display: flex;
    justify-content: center;
    margin: 10px 0 5px 0;
}
.pill{
    font-weight: 600;
    margin: 0 5px;
    padding: 1px 10px;
    border-radius: 9999px;
}
.linkHolder{
    display: flex;
    justify-content: center;
    margin: 10px 0 5px;
}
.detailsBtn{
    display: inline-flex;
    padding: 1px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-weight: 500;
}
.detailsBtnText{
   color: rgb(255, 255, 255); 
   isolation: isolate;
}
.loaderImg{
    max-width: 80px;
}