.pagination{
    display: flex;
    flex-direction: column;
    width: inherit;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    /* position: relative; */
    top: 120px;
}
.buttonItem{
    cursor: pointer;
    user-select: none;
    padding: 1px 8px;
    margin: 0 5px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #DBEAFE;
    color: #111827;
}
.buttonItem:hover{
    background-color: #ff9900;
    color: white;
}
.buttonItem:active,
.buttonItem:focus{
    background-color: #ffc62a;
    color: #01264B;
}
.activeItem{
    background-color: #ffc62a;
    color: #01264B;
}
.itemsHolder{
    flex-wrap: wrap;
    justify-content: left;
    align-self: center;
    height: 623px;/*459*/
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 30px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    /* background-color: #f7f9fc; */
}
nav{
    width: 100%;
    padding: 10px 0;
  
}
.bar{
    display: inline-flex;
}
.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.centered{
    align-self: center;
    justify-content: center;
    font-size: 1.2rem;
}
.createPokemon{
    padding-top: 20px;
}
.link_button{
    display: inline-flex;
    font-weight: 700;
    background-color:#ffc62a;
    color:#111827;
    padding: 2px 20px;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}
.link_button:hover{
    background-color: #e48c08;
    color:#111827;
    box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3)  ; 
	-webkit-box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3)  ; 
	-moz-box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.3)  ; 
}