.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #f0d572;
  color: white;
  height: 100vh;
}
.logo {
  height: 16rem;
  width: 23rem;
  align-self: center;
  margin: 25px 0;
}
.logoOak {
  height: 18rem;
  width: 16rem;
  align-self: center;
  margin: 25px 0;
}
.welcome {
  color: #070808;
  font-size: 50px;
  line-height: 2.25rem;
  font-weight: 900;
}
.container {
  margin: 20px 0;
  color: #070808;
}
.container > h2 {
  font-size: 25px;
}
.langBtn {
  border-radius: 10px;
  display: inline-flex;
  padding: 5px 20px;
  margin: 0 10px;
  font-weight: 700;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.langBtn:hover {
  box-shadow: var(--offset-shadow, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
    var(--shadow);
}
.notSelected {
  background-color: rgba(243, 244, 246, 1);
}
.selected {
  background-color: #006090;
  color: white;
}
.selected:active {
  background-color: #0078c0;
}
.notSelected:hover {
  background-color: rgba(229, 231, 235, 1);
}
.notSelected:active {
  background-color: #f9fafb;
}
.btnHolder {
  display: inline-flex;
  margin: 5px 0;
}
.statusHolder {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.loadingPokemons {
  display: inline-flex;
  font-size: 20px;
  font-weight: 600;
  align-self: center;
  margin-bottom: 10px;
}
.pokeball {
  max-width: 20px;
  max-height: 20px;
  align-self: center;
  margin-right: 5px;
  user-select: none;
}
.pokeballDone {
  max-width: 25px;
  max-height: 25px;
  align-self: center;
  margin-right: 10px;
  user-select: none;
}
.loadingStatus {
  font-weight: 600;
  color: #1f2937;
}
.errorStatus {
  font-size: 20px;
  font-weight: 600;
  color: #991b1b;
}
.loadedStatus {
  font-weight: 600;
  color: #0f1d42;
}
.nextBtn {
  background-color: #4a4a4a;
  color: white;
}
.errorBtn {
  background-color: #991b1b;
  color: white;
}
.errorBtn:active {
  background-color: #dc2626;
  color: white;
}
.nextBtn:active {
  background-color: #5e5e5e;
  color: white;
}
